.camp.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    gap: 25px;
}

.camp.line {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.camp.standard {
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
}

.camp.standard .recent-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.camp.standard .recent-cars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    gap: 25px;
}


.camp.standard.filter {
    height: fit-content;
    min-width: 15%;
}

.camp.standard.filter label {
    display: flex;
}

.radio-item input {
    display: none;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 12px 0;
}

.radio-item p::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--Cor-Cinza);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 2px;
}

.radio-item input:checked + p::before {
    border: 2px solid var(--Cor-Principal);
    box-shadow: inset 0 0 0 4px var(--Cor-Principal);
}