@font-face {
    font-family: "NunitoSans";
    src: url("../assets/font/NunitoSans.ttf") format("truetype");
    font-weight: bold;
}

:root {
    --Cor-Background: rgb(237, 237, 237, 1);
    --Cor-Preto-Transparente: rgba(0, 0, 0, 0.900);
    --Cor-Cinza: rgb(128, 128, 128, 1);
    --Cor-Principal: rgb(3, 189, 164, 1);
    --Cor-Principal-Dark: rgb(0, 92, 97, 1);
}

body {
    margin: 0;
    background-color: var(--Cor-Background);
}

h1, p, a {
    font-family: "NunitoSans";
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 1.375em;
}

p {
    font-size: 1,03125em;
}

a {
    font-size: 0.6875em;
}

button {
    font-family: "NunitoSans";
    cursor: pointer;
}

main.first {
    margin-top: 72px;
}

main.container {
    padding: 50px;
    min-height: calc(100vh - 173px);
}

@media (max-width: 768px) {
    main.container {
        padding: 25px;
    }
}