main .hero {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(100dvh - 73px);
}

main .hero-image img {
    width: 100%;
    height: calc(100dvh - 73px);
    object-fit: cover;
    margin-bottom: -3px;
}

main .hero-text {
    position: absolute;
    z-index: 2;
    height: 100%;
    align-content: center;
    margin-left: 25px;
}

main .hero-text h1:nth-of-type(1) {
    color: var(--Cor-Principal-Dark)
}

main .hero-text h1:nth-of-type(2) {
    font-size: calc(1.375em * 1.5);
    margin-bottom: 25px;
}

main .hero-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( 90deg, rgba(247, 245, 242, 1) 15%, rgba(3, 189, 164, 0.05) 60% );
    pointer-events: none;
    z-index: 1;
}

main .recent,
main .marq {
    padding: 35px;
}

main .marq h1 {
    text-align: center;
    margin-bottom: 25px;
}

main .marq .brands-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
}

main .marq .card-rod {
    position: relative;
    width: 100%;
    max-width: 160px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

main .marq .card-rod:hover p {
    color: var(--Cor-Principal-Dark);
    cursor: pointer;
}

main .marq .card-rod img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .4s ease;
}

main .marq .card-rod:hover img {
    animation: spin .5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

main .marq .card-rod div {
    position: absolute;
    bottom: 11px;
    width: calc(100% - 50px);
    padding: 25px;
    background-color: var(--Cor-Background);
    text-align: center;
}

main .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

main .top div {
    display: flex;
    gap: 10px;
    align-items: center;
}

main .top div button {
    border-radius: 12px;
    padding: 10px 10px 6px 10px;
    border: 2px solid var(--Cor-Cinza);
    background-color: #fff;
}

main .top div button:hover {
    border: 2px solid var(--Cor-Principal);
}

main .top div button.active {
    background-color: var(--Cor-Principal);
    border-radius: 12px;
    border: 2px solid var(--Cor-Principal-Dark);
    cursor: default;
}

main .top div button img {
    height: 20px;
    margin: 0;
}

main .half {
    display: flex;
    gap: 50px;
}

main .list {
    width: 100%;
}

main .pagination {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

main .pagination button {
    border-radius: 12em;
    min-width: 40px;
    padding: 10px 10px 10px 10px;
    border: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main .pagination button.active {
    background-color: var(--Cor-Principal);
    color: #fff;
}